body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.container1 {
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;

    background-color: #1F2937;
    color: white;
}
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.logo {
    padding-top: 10px;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}
ul {
    list-style: none;
    display: flex;
    gap: 24px;
}
a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;

}

.hero {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.hero1 {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 8pt;
}
.img1 {
    width: 400px;
    height: auto;
}

.section1 {
    font-size: 48px;
    font-weight: 600;
    color: #F9FAF8;
}
.section2 {
    font-size: 18px;
    color: #E5E7EB;
}
.section3 {
    background-color: #3882F6;
    padding: 5px;
    width: 130px;
    height: 45px;
    color: #E5E7EB;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}

.container2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    margin-top: 50px;
}
.info {
    font-size: 36px;
    font-weight: 600;
    color: #1F2937;
}
.images {
    display: flex;
    gap: 60px;
}
.box {
    display: flex;
    flex-direction: column;
    width: 150px;
    text-align: center;
    font-size: 16px;
    color: #1F2937;
}
.img2 {
    border:4px solid #3882F6;
    border-radius: 10px;
    height: 150px;
    width: 150px;
}